<div>
  <hr/>
  <h1>Introduction ...</h1>
  <hr/>
  <h3>
    <a href="javascript:sequence(111);">1.1  - Les fonctions en Coq - 5:04</a>
    <a href="javascript:demo(1011);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="1011">&nbsp;</span></a>
  </h3>
  <h3>
    <a href="javascript:sequence(112);">1.2  - Jouer avec les fonctions - 7:20</a>
  </h3>
  <h3>
    <a href="javascript:sequence(121);">1.3  - Les types en Coq - 8:17</a>
  </h3>
  <h3>
    <a href="javascript:sequence(122);">1.4  - Le polymorphisme  - 6:29</a>
  </h3>
  <h3>
    <a href="javascript:sequence(123);">1.5  - L'ordre supérieur - 2:13</a>
    <a href="javascript:demo(1051);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="1051">&nbsp;</span></a>
    <a href="javascript:demo(1052);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="1052">&nbsp;</span></a>
    <a href="javascript:demo(1053);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="1053">&nbsp;</span></a>
  </h3>
  <h3>
    <a href="javascript:sequence(131);">1.6  - Les structures de données en Coq - 1:37</a>
    <a href="javascript:demo(1061);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="1061">&nbsp;</span></a>
    <a href="javascript:demo(1062);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="1062">&nbsp;</span></a>
  </h3>
  <h3>
    <a href="javascript:sequence(132);">1.7  - Manipulation des couples - 3:52</a>
  </h3>
  <h3>
    <a href="javascript:sequence(133);">1.8  - Types inductifs en Coq - 7:45</a>
    <a href="javascript:demo(1081);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="1081">&nbsp;</span></a>
  </h3>
  <h3>
    <a href="javascript:sequence(134);">1.9  - Fonctions récursives - 8:40</a>
  </h3>
  <h3>
    <a href="javascript:sequence(141);">1.10  - Bibliothèque de base - 5:34</a>
  </h3>
  <h3>
    <a href="javascript:sequence(142);">1.11  - Nombres naturels et récursion - 2:51</a>
    <a href="javascript:demo(1111);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="1111">&nbsp;</span></a>
  </h3>
  <h3>
    <a href="javascript:sequence(143);">1.12  - Valeurs boolénnes, couples et listes - 5:28</a>
    <a href="javascript:demo(1121);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="1121">&nbsp;</span></a>
  </h3>
  <h3>
    <a href="javascript:sequence(150);">1.13  - Polymorphisme - 12:55</a>
  </h3>
  <hr/>
  <h1>Interprétation du type</h1>
  <hr/>
  <h3>
    <a href="javascript:sequence(210);">2.1  - Les formules logiques en coq - 7:33</a>
  </h3>
  <h3>
    <a href="javascript:sequence(220);">2.2  - Faire des preuves en coq - 11:19</a>
    <a href="javascript:demo(2021);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="2021">&nbsp;</span></a>
  </h3>
  <h3>
    <a href="javascript:sequence(230);">2.3  - Preuves avec les connecteurs logiques - 10:50</a>
    <a href="javascript:demo(2031);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="2031">&nbsp;</span></a>
    <a href="javascript:demo(2032);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="2032">&nbsp;</span></a>
  </h3>
  <h3>
    <a href="javascript:sequence(241);">2.4  - Outils avancés pour les preuves - 10:15</a>
  </h3>
  <h3>
    <a href="javascript:sequence(242);">2.5  - Structuration des preuves - 3:48</a>
  </h3>
  <h3>
    <a href="javascript:sequence(251);">2.6  - Premières preuves de programmes - 7:50</a>
    <a href="javascript:demo(2061);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="2061">&nbsp;</span></a>
  </h3>
  <h3>
    <a href="javascript:sequence(252);">2.7  - Egalités - 5:10</a>
  </h3>
  <hr/>
  <h1>Types dépendants</h1>
  <hr/>
  <h3>
    <a href="javascript:sequence(310);">3.1  - Introduction aux propriétés inductives en Coq - 11:45</a>
    <a href="javascript:demo(3011);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="3011">&nbsp;</span></a>
  </h3>
  <h3>
    <a href="javascript:sequence(320);">3.2  - Approche inductive des connecteurs logiques - 11:41</a>
  </h3>
  <h3>
    <a href="javascript:sequence(330);">3.3  - Principes de récurrences de propriétés en Coq - 9:50</a>
  </h3>
  <h3>
    <a href="javascript:sequence(340);">3.4  - Inversion des propriétés inductives - 8:31</a>
    <a href="javascript:demo(3041);" class="info"><img src="im/picto_coq_logo.png" width="10" height="15" /><span id="3041">&nbsp;</span></a>
  </h3>
</div>
